<!DOCTYPE html>
<html>
<head>
	<title>Arena Fighters</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<link type="text/css" rel="stylesheet" href="/css/game.css">
</head>
<body>
<div id="game"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/game.js"></script>
</body>
</html>
