/* line 17, ../../src/scss/game.scss */
html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

/* line 22, ../../src/scss/game.scss */
body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  font-size: 12px;
}

/* line 31, ../../src/scss/game.scss */
input {
  border: 1px solid #c2c2c2;
}

/* line 35, ../../src/scss/game.scss */
button {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background: #fafafa;
}

/* line 41, ../../src/scss/game.scss */
li {
  list-style: none;
}

/* line 45, ../../src/scss/game.scss */
.menuForm {
  padding: 20px;
}

/* line 49, ../../src/scss/game.scss */
.menuForm label {
  display: block;
}

/* line 53, ../../src/scss/game.scss */
.menuForm p {
  margin: 2px 0;
}

/* line 57, ../../src/scss/game.scss */
.hidden {
  display: none !important;
}

/* line 61, ../../src/scss/game.scss */
.swipe {
  height: 150vh;
}

/* line 65, ../../src/scss/game.scss */
#game {
  font-size: 14em;
}

/* line 69, ../../src/scss/game.scss */
#menu span {
  width: 350px;
  height: 100px;
}

/* line 74, ../../src/scss/game.scss */
#pause-btn {
  top: 5em;
  right: 5em;
  width: 100px;
  height: 100px;
  background: url("/img/sprites/pause-d10.png");
}

/* line 82, ../../src/scss/game.scss */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16em;
  line-height: 18em;
}

@media screen and (max-width: 1800px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 2.52em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 315px;
    height: 90px;
    margin-bottom: 54px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 4.5em;
    right: 4.5em;
    width: 90px;
    height: 90px;
    background: url("/img/sprites/pause-d9.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2.88em;
    line-height: 3.24em;
  }
}
@media screen and (max-width: 1600px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 2.24em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 280px;
    height: 80px;
    margin-bottom: 48px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 4em;
    right: 4em;
    width: 80px;
    height: 80px;
    background: url("/img/sprites/pause-d8.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2.56em;
    line-height: 2.88em;
  }
}
@media screen and (max-width: 1400px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 1.96em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 245px;
    height: 70px;
    margin-bottom: 42px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 3.5em;
    right: 3.5em;
    width: 70px;
    height: 70px;
    background: url("/img/sprites/pause-d7.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2.24em;
    line-height: 2.52em;
  }
}
@media screen and (max-width: 1200px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 1.68em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 210px;
    height: 60px;
    margin-bottom: 36px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 3em;
    right: 3em;
    width: 60px;
    height: 60px;
    background: url("/img/sprites/pause-d6.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.92em;
    line-height: 2.16em;
  }
}
@media screen and (max-width: 1000px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 1.4em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 175px;
    height: 50px;
    margin-bottom: 30px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 2.5em;
    right: 2.5em;
    width: 50px;
    height: 50px;
    background: url("/img/sprites/pause-d5.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.6em;
    line-height: 1.8em;
  }
}
@media screen and (max-width: 800px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 1.12em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 140px;
    height: 40px;
    margin-bottom: 24px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 2em;
    right: 2em;
    width: 40px;
    height: 40px;
    background: url("/img/sprites/pause-d4.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.28em;
    line-height: 1.44em;
  }
}
@media screen and (max-width: 600px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 0.84em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 105px;
    height: 30px;
    margin-bottom: 18px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 1.5em;
    right: 1.5em;
    width: 30px;
    height: 30px;
    background: url("/img/sprites/pause-d3.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 0.96em;
    line-height: 1.08em;
  }
}
@media screen and (max-width: 400px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 0.56em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 70px;
    height: 20px;
    margin-bottom: 12px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 1em;
    right: 1em;
    width: 20px;
    height: 20px;
    background: url("/img/sprites/pause-d2.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 0.64em;
    line-height: 0.72em;
  }
}
@media screen and (max-width: 200px) {
  /* line 91, ../../src/scss/game.scss */
  #game {
    font-size: 0.28em;
  }

  /* line 95, ../../src/scss/game.scss */
  #menu span {
    width: 35px;
    height: 10px;
    margin-bottom: 6px;
  }

  /* line 101, ../../src/scss/game.scss */
  #pause-btn {
    top: 0.5em;
    right: 0.5em;
    width: 10px;
    height: 10px;
    background: url("/img/sprites/pause-d1.png");
  }

  /* line 109, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 0.32em;
    line-height: 0.36em;
  }
}
/* line 118, ../../src/scss/game.scss */
#game {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 124, ../../src/scss/game.scss */
#game #arena-fighters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 132, ../../src/scss/game.scss */
#game #menus {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 140, ../../src/scss/game.scss */
#game #gameScreen {
  position: relative;
}
/* line 144, ../../src/scss/game.scss */
#game #controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* line 152, ../../src/scss/game.scss */
#game #controls #joystick {
  left: 10px;
  bottom: 10px;
  position: absolute;
  display: block;
  opacity: .5;
}
/* line 159, ../../src/scss/game.scss */
#game #controls #joystick.active {
  opacity: 1;
}
/* line 164, ../../src/scss/game.scss */
#game #controls #fire-btn {
  right: 40px;
  bottom: 40px;
  position: absolute;
  opacity: .5;
  display: block;
}
/* line 171, ../../src/scss/game.scss */
#game #controls #fire-btn.active {
  opacity: 1;
}
/* line 176, ../../src/scss/game.scss */
#game #controls #pause-btn {
  position: absolute;
  display: block;
  background-size: cover;
  opacity: .5;
}
/* line 182, ../../src/scss/game.scss */
#game #controls #pause-btn:focus {
  opacity: 1;
}
/* line 187, ../../src/scss/game.scss */
#game #controls #menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
/* line 197, ../../src/scss/game.scss */
#game #controls #menu > div {
  display: inline-block;
}
/* line 201, ../../src/scss/game.scss */
#game #controls #menu span {
  display: block;
  background: red;
}
/* line 205, ../../src/scss/game.scss */
#game #controls #menu span:last-child {
  margin-bottom: 0;
}
