/* line 27, ../../src/scss/game.scss */
html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

/* line 32, ../../src/scss/game.scss */
body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  font-size: 12px;
}

/* line 41, ../../src/scss/game.scss */
input {
  border: 1px solid #c2c2c2;
}

/* line 45, ../../src/scss/game.scss */
button {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background: #fafafa;
}

/* line 51, ../../src/scss/game.scss */
li {
  list-style: none;
}

/* line 55, ../../src/scss/game.scss */
.menuForm {
  padding: 20px;
}

/* line 59, ../../src/scss/game.scss */
.menuForm label {
  display: block;
}

/* line 63, ../../src/scss/game.scss */
.menuForm p {
  margin: 2px 0;
}

/* line 67, ../../src/scss/game.scss */
.hidden {
  display: none !important;
}

/* line 71, ../../src/scss/game.scss */
.swipe {
  height: 150vh;
}

/* line 75, ../../src/scss/game.scss */
#game {
  font-size: 14em;
}

/* line 79, ../../src/scss/game.scss */
#menu span {
  width: 350px;
  height: 100px;
}

/* line 84, ../../src/scss/game.scss */
#pause-btn {
  top: 5em;
  right: 5em;
  width: 100px;
  height: 100px;
  background: url("/img/sprites/pause-d10.png");
}

/* line 92, ../../src/scss/game.scss */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16em;
  line-height: 18em;
}

@media screen and (max-width: 1800px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 2.52em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 315px;
    height: 90px;
    margin-bottom: 54px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 4.5em;
    right: 4.5em;
    width: 90px;
    height: 90px;
    background: url("/img/sprites/pause-d9.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2.88em;
    line-height: 3.24em;
  }
}
@media screen and (max-width: 1600px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 2.24em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 280px;
    height: 80px;
    margin-bottom: 48px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 4em;
    right: 4em;
    width: 80px;
    height: 80px;
    background: url("/img/sprites/pause-d8.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2.56em;
    line-height: 2.88em;
  }
}
@media screen and (max-width: 1400px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 1.96em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 245px;
    height: 70px;
    margin-bottom: 42px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 3.5em;
    right: 3.5em;
    width: 70px;
    height: 70px;
    background: url("/img/sprites/pause-d7.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2.24em;
    line-height: 2.52em;
  }
}
@media screen and (max-width: 1200px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 1.68em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 210px;
    height: 60px;
    margin-bottom: 36px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 3em;
    right: 3em;
    width: 60px;
    height: 60px;
    background: url("/img/sprites/pause-d6.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.92em;
    line-height: 2.16em;
  }
}
@media screen and (max-width: 1000px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 1.4em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 175px;
    height: 50px;
    margin-bottom: 30px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 2.5em;
    right: 2.5em;
    width: 50px;
    height: 50px;
    background: url("/img/sprites/pause-d5.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.6em;
    line-height: 1.8em;
  }
}
@media screen and (max-width: 800px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 1.12em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 140px;
    height: 40px;
    margin-bottom: 24px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 2em;
    right: 2em;
    width: 40px;
    height: 40px;
    background: url("/img/sprites/pause-d4.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.28em;
    line-height: 1.44em;
  }
}
@media screen and (max-width: 600px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 0.84em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 105px;
    height: 30px;
    margin-bottom: 18px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 1.5em;
    right: 1.5em;
    width: 30px;
    height: 30px;
    background: url("/img/sprites/pause-d3.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 0.96em;
    line-height: 1.08em;
  }
}
@media screen and (max-width: 400px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 0.56em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 70px;
    height: 20px;
    margin-bottom: 12px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 1em;
    right: 1em;
    width: 20px;
    height: 20px;
    background: url("/img/sprites/pause-d2.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 0.64em;
    line-height: 0.72em;
  }
}
@media screen and (max-width: 200px) {
  /* line 101, ../../src/scss/game.scss */
  #game {
    font-size: 0.28em;
  }

  /* line 105, ../../src/scss/game.scss */
  #menu span {
    width: 35px;
    height: 10px;
    margin-bottom: 6px;
  }

  /* line 111, ../../src/scss/game.scss */
  #pause-btn {
    top: 0.5em;
    right: 0.5em;
    width: 10px;
    height: 10px;
    background: url("/img/sprites/pause-d1.png");
  }

  /* line 119, ../../src/scss/game.scss */
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 0.32em;
    line-height: 0.36em;
  }
}
/* line 128, ../../src/scss/game.scss */
#game {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 134, ../../src/scss/game.scss */
#game #arena-fighters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 142, ../../src/scss/game.scss */
#game #menus {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 150, ../../src/scss/game.scss */
#game #gameScreen {
  position: relative;
  width: 100vw;
}
/* line 155, ../../src/scss/game.scss */
#game #canvas {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
}
/* line 161, ../../src/scss/game.scss */
#game #hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 2em 5em;
}
/* line 177, ../../src/scss/game.scss */
#game #hud .health span {
  display: inline-block;
  width: .4em;
  height: 1em;
  margin-right: .2em;
}
/* line 183, ../../src/scss/game.scss */
#game #hud .health span.off {
  opacity: .2;
}
/* line 187, ../../src/scss/game.scss */
#game #hud .health span:last-child {
  margin-right: 0;
}
/* line 194, ../../src/scss/game.scss */
#game #hud .weapon > span:first-child {
  margin-right: 1em;
}
/* line 199, ../../src/scss/game.scss */
#game #hud > div {
  width: 12em;
  display: flex;
  justify-content: center;
}
/* line 204, ../../src/scss/game.scss */
#game #hud > div:first-child {
  color: #FF8B00;
}
/* line 206, ../../src/scss/game.scss */
#game #hud > div:first-child .health span {
  background: #FF8B00;
}
/* line 211, ../../src/scss/game.scss */
#game #hud > div:nth-child(2) {
  color: #9F23E8;
}
/* line 213, ../../src/scss/game.scss */
#game #hud > div:nth-child(2) .health span {
  background: #9F23E8;
}
/* line 218, ../../src/scss/game.scss */
#game #hud > div > div > div {
  margin-bottom: .5em;
}
/* line 228, ../../src/scss/game.scss */
#game #controls {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* line 237, ../../src/scss/game.scss */
#game #controls #joystick {
  left: 1.7em;
  bottom: 5em;
  position: absolute;
  display: block;
  opacity: .5;
}
/* line 244, ../../src/scss/game.scss */
#game #controls #joystick.active {
  opacity: 1;
}
/* line 248, ../../src/scss/game.scss */
#game #controls #joystick .ball {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 257, ../../src/scss/game.scss */
#game #controls #fire-btn {
  right: 2.3em;
  bottom: 6em;
  position: absolute;
  opacity: .5;
  display: block;
}
/* line 264, ../../src/scss/game.scss */
#game #controls #fire-btn.active {
  opacity: 1;
}
/* line 269, ../../src/scss/game.scss */
#game #controls #pause-btn {
  position: absolute;
  display: block;
  background-size: cover;
  opacity: .5;
}
/* line 275, ../../src/scss/game.scss */
#game #controls #pause-btn:focus {
  opacity: 1;
}
/* line 280, ../../src/scss/game.scss */
#game #controls #menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
/* line 290, ../../src/scss/game.scss */
#game #controls #menu > div {
  display: inline-block;
}
/* line 294, ../../src/scss/game.scss */
#game #controls #menu span {
  display: block;
  background: red;
}
/* line 298, ../../src/scss/game.scss */
#game #controls #menu span:last-child {
  margin-bottom: 0;
}
